:root{
  --color-logo-: rgb(255, 0, 0);
  --bg-color: #000;
  --color-links-: #AAA;
}

html{
  scroll-behavior: smooth;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background:var(--bg-color);
  color: white;
}

header .container{
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h2{
  font-size: 40px;
  color: var(--color-logo-);
  transition: 0.3s;
}

header h2:hover{
  text-shadow: 3px 3px 5px rgb(129, 127, 127);
}

header nav ul{
  width: 300px;
  display: flex;
  justify-content: space-around;
}

header nav ul li{
  list-style: none;
}

header nav ul li a{
  text-decoration: none;
  color: var(--color-links-);
  text-shadow: 1px 1px 1px rgb(53, 40, 40);
  transition: 0.5s;
}

header nav ul li a:hover{
  color: white;
}

/* Capa do filmes principal */
main section.filme-principal{
  height: 500px;
  background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(../img/filmes/capa-eu-sou-a-lenda.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

main section .container{
  width: 500px;
  padding: 20px;
  line-height: 22px;
}

main section .container .buttons{
  margin-top: 10px;
}

main section .container h3{
  font-size: 30px;
}

main section .container div a{
  width: 250px;
  color: black;
  border: solid white;
  padding: 5px 5px 5px 50px;
  display: block;
  background-color: white;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 700;
  position: relative;
  margin-top: 10px;
}

main section .container div a:hover{
  color: black;
  background-color: white;
  border: solid white;
  transform: scale(1.1);
}

main section .container div a ion-icon{
  position: absolute;
  left: 20px;
  top: 8px;
}


section div.item{
  width: 100%;
  height: 100%;
  display: block;

}

.item img{
  cursor: pointer;
  border-radius: 5px;
  border:solid black;
}

.item img:hover{
  border: solid;
}

#filmes h3, #series h3, #documentarios h3{
  padding: 20px;
}